body {
  background: olivedrab;
}

* {
  border: 5px solid rgb(128, 0, 98);
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 5px;
  justify-content: space-around;
  color: brown;
  font-size: 3em;
  
}

header, footer  {
  flex-grow: 2;
}

main {
  flex-grow:6;
}


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  header {
    width: 100%;
  }
  main, footer, header {
    margin: 1.5em;
  }
}